# OCR (Alibaba Open Code Review)

#export OCR_LLM_URL=https://api.anthropic.com/v1/messages
#export OCR_LLM_TOKEN=your-api-key-here
#export OCR_LLM_MODEL=claude-opus-4-6
#export OCR_USE_ANTHROPIC=true

# Strix config

#STRIX_LLM="gemini/gemini-2.5-pro" # for strix
#LLM_API_KEY="your-api-key" # for strix
# LLM_API_BASE="your-api-base-url"  # if using a local model, e.g. Ollama, LMStudio
# PERPLEXITY_API_KEY="your-api-key"  # for search capabilities

# disable telemetry
HOMEBREW_NO_ANALYTICS=1 # for homebrew
DOTNET_CLI_TELEMETRY_OPTOUT="1" # for dotnet
