# OCR (Alibaba Open Code Review)
export OCR_ENABLE_TELEMETRY=0
export OCR_LLM_URL="your_url"
export OCR_LLM_TOKEN="your_token"
export OCR_LLM_MODEL="bazeries"

# Strix config

STRIX_LLM="bazeries" # for strix
LLM_API_KEY="your_key" # for strix
LLM_API_BASE="your_url"  # if using a local model, e.g. Ollama, LMStudio
# PERPLEXITY_API_KEY="your-api-key"  # for search capabilities

# disable telemetry
HOMEBREW_NO_ANALYTICS=1 # for homebrew
DOTNET_CLI_TELEMETRY_OPTOUT="1" # for dotnet
